# Answering Business Questions using SQL

In this project we are going to answer some business questions bu using SQL. We will work with Chinook database, which is SQLite database. It contains information about a fictional digital music shop, such as: the artists, songs, and albums from the music shop, as well as information on the shop's employees, customers, and the customers purchases. The database has eleven tables. Below is schema of our database.

![title](Data/chinook.png)

## Creating Helper Functions

In [7]:
#Let's start with importing the libraries
import sqlite3
import pandas as pd
import numpy as np
from matplotlib import cm
import matplotlib.pyplot as plt
%matplotlib inline

In [15]:
#We will create three functions: 
##run_query function, that takes a SQL query as an argument and returns a pandas dataframe of that query
##run_command() function that takes a SQL command as an argument and executes it using the sqlite module
##show_tables() function that calls the run_query() function to return a list of all tables and views in the database

def run_query(q):
    with sqlite3.connect(r"Data\chinook.db") as conn:
        return pd.read_sql_query(q, conn)
    
def run_command(c):
    with sqlite3.connect(r"Data\chinook.db") as conn:
        conn.isolation_level = None
        conn.execute(c)
        
def show_tables():
    q ='''SELECT
        name,
        type
    FROM sqlite_master
    WHERE type IN ("table","view");'''
    return run_query(q)

In [16]:
show_tables()

              name   type
0            album  table
1           artist  table
2         customer  table
3         employee  table
4            genre  table
5          invoice  table
6     invoice_line  table
7       media_type  table
8         playlist  table
9   playlist_track  table
10           track  table